<connectionStrings>
  <!--Conexión Manuel-->
  <add name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="server=localhost;database=acinox;uid=root;password=administrator;port=3306" />


  <!--Conexión Sinthia-->
  <!--<add name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="server=localhost;database=pruebaxesor;uid=root;password=IG82020;port=3306" />-->
  
 </connectionStrings>